<!DOCTYPE html>
<html>
<head>
  <title>Riorunner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body class="background-dark">
<div id="flash_messages"><%= flash_messages(:close, :fade) %></div>
    <%= render 'layouts/sidenav' %>
    <div class = "wrap">
      <header class="page-header">
        <%= render 'layouts/navigation' %>
      </header>
    <div class="content container">
      <%= yield %>
    </div>
      <div class="loader-wrap hiding hide">
        <i class="fa fa-spinner fa-spin"></i>
      </div>
    </div>
</body>

</html>
<script>
    new gnMenu( document.getElementById( 'gn-menu' ) );
</script>
